.main-container {
  display: flex;
}

.content {
  display: block;
  margin: auto;
}

.stats {
  display: flex;
  font-family: 'roboto', sans-serif;
  margin-right: 20px;
  margin-top: 14px;
  border-style: double;
  justify-content: flex-end;
}

.stats__mark {
  border-style: solid;
  width: 40px;
  height: 26px;
  background-color: #c5c5c5;
  border-color: black;
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.7em;
}

h2 {
  margin-right: .5em;
  padding: -15px;
}













.square {
  width: 190px;
  height: 190px;
  border-style: solid;
  border-color: #003c41;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 608px;
  height: 608px;
  margin: auto;

  border-style: solid;
  border-color: #003c41;
}

.mole {
  background-image: url('mole.jpg');
  background-size: cover;
}
